@use "../../Variables.scss" as *;

.productPage {
  padding: 30px;
  text-align: left;
  position: relative;
}

.page {
  display: flex;
  gap: 50px;

  @include mobile {
    flex-direction: column;
  }
}

.preview {
  overflow: hidden;
  flex: 1;
  user-select: none;

  img {
    display: block;
    width: 100%;
  }
}

.info {
  flex: 2;
}

.fulllName {
  font-weight: 580;
}

.swiper {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 img {
  aspect-ratio: 4/5;
  object-fit: cover;
}

.mySwiper {
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper img {
  aspect-ratio: 4/6;
  object-fit: cover;
}

.mySwiper .swiper-slide {
  // height: 100%;
  // opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  // opacity: 1;
}

.swiper-slide img {
  display: block;
  // width: 100%;
  // height: 100%;
  object-fit: cover;
}

.buttonBuy {
  margin-top: 20px;
}

.descrImportant {
  font-size: 17px;
}

.dimensions {
  font-size: 17px;
  font-style: italic;
}