
.wrap {
  display: flex;
  align-items: flex-start;
}

.wrap .item {
 flex: 1;  
}

.about {
  background-color: blanchedalmond;
}

.about-text {
  text-align: left;
  background-color: rebeccapurple;
}

.about-text h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about-text h3 {
  font-weight: bold;
  margin-top: 1.5rem;
}

.about-text p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.about-quote {
  margin-top: 1rem;
  font-style: italic;
}

.about-image {
  background-color: salmon;
}

.about-image img {
  width: 100%;
  max-height: 800px;
  /* border-radius: 4px; */
  object-fit: cover;
  display: block;
  opacity: 0.5;
}
