.productPage {
  padding: 30px;
  text-align: left;
  position: relative;
}

.page {
  display: flex;
  gap: 50px;
}

.preview {
  aspect-ratio: 6/7;
  border-radius: 15px;
  overflow: hidden;
  flex: 1;

  img {
    display: block;
    width: 100%;
  }
}

.info {
  flex: 2;
}

.fulllName {
  font-weight: 580;
}

// .bulletsDescription ul {}