.cartContainer {
  display: flex;
  justify-content: center;

}

.cart {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
  width: 500px;
  // background-color: #878ede8c;
}

.deleteButton {
  padding: 10px 15px;
}

.productAtCart {
  display: flex;
  align-items: center;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
  }
}

.productName {
  flex: 1;
}

.productPrice {
  padding: 10px;
}


.inputField {
  width: 100%;
  height: 55px;
  border: 1px solid #000;
  font-size: 20px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.label {
  margin-top: 30px;
  font-size: 17px;
  font-weight: 300;
  text-align: left;
  display: block;
}

.line {
  width: 100%;
  border-bottom: 1px solid #000;
  margin: 20px 0;
}

.total {
  font-weight: 650;
  font-size: 23px;
  text-align: end;
  margin-top: 37px;
}

.error {
  color: red;
  margin-top: 8px;
  font-size: 14px;
  text-align: left;
  margin-bottom: 20px;
  margin-top: -24px;
}

.orderButton {
  padding: 10px 46px
}

.deleteButton:hover {
  background-color: #f763fb;
}