.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 10px;
}

.deleteButton {
  padding: 10px 15px;
}

.productAtCart {
  display: flex;
  align-items: center;
  min-width: 400px;
}

.productAtCart img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: block;
}

.productName {
  flex: 1;
}

.productPrice {
  padding: 10px;
}

.inputField {
  height: 55px;
  border: 1px solid #000;
  font-size: 20px;
  padding-right: 180px;
  padding-left: 10px;
}

.label {
  margin-top: 30px;
  font-size: 17px;
  font-weight: 300;
  text-align: left;
  display: block;
}