.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 10px;
}

.deleteButton {
  padding: 10px 20px;
}

.productAtCart {
  display: flex;
  align-items: center;
  min-width: 400px;
}

.productAtCart img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: block;
}

.productName {
  flex: 1;
}

.productPrice {
  padding: 10px;
}