.wrap-home {
  position: relative;
  height: 100vh;
  background-image: url("../../img/MIT04515.JPG");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrap-home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(black, 0.3);
}

.container-home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.home-text {
  color: white;
  font-size: 25px;
}

a.home-button {
  display: block;
  padding: 12px 28px;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  transition: 0.5s;
  color: #fff;
  background: #000;
  box-shadow: 0 8px 24px rgba(0, 0, 0, .25);
  border-radius: 50px;
}

.home-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, .5);
}