.wrap-home {
  height: 100vh;
  background-image: url(../../img/MIT04515.JPG);
  background-size: cover;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

.wrap-home a {
  display: block;
}