@use "../../Variables.scss" as *;

.category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 30px;

  @include mobile {
    display: flex;
    flex-direction: column;
  }
}

.card {
  position: relative;
  aspect-ratio: 6/7;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.card img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productDescription {
  font-weight: 400;
}

.productPrice {
  font-weight: 650;
}

// p {
//   margin-top: 10px;
//   margin-bottom: 10px;
// }

.navLink {
  // нету
}