@use "../../Variables.scss" as *;

.wrap {
  display: flex;
  align-items: flex-start;
  gap: 50px;

  @include mobile {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}

.wrapItem {
  flex: 1;
}

.aboutText {
  text-align: left;
}

.aboutText h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.aboutText h3 {
  font-weight: bold;
  margin-top: 1.5rem;
}

.aboutText p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.aboutQuote {
  margin-top: 1rem;
  font-style: italic;
}

.aboutImage img {
  width: 100%;
  max-height: 800px;
  object-fit: cover;
  display: block;
}