@use "../../Variables.scss" as *;

.shop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 30px;

  @include mobile {
    display: flex;
    flex-direction: column;
  }
}

.card {
  position: relative;
  aspect-ratio: 10/7;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

}

.shopTitle {
  position: relative;
  color: white;
}

.card img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navLink {
  // нету
}